@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

nav{
  display: flex;
  height: 80px;
  width: 100%;
  /* background: #1b1b1b; */
  background: linear-gradient(315deg, #6617cb 0%, #882463 74%);
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: cyan;
  border-radius: 5px;
  box-shadow:  0 0 5px #33ffff,
               0 0 10px #66ffff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}

.about-section{
  background: url(img/about.jpg) no-repeat left;
  background-size: 65%;
  background-color: #fdfdfd;
  overflow: hidden;
  padding: 170px 0;
}

.inner-container{
  width: 65%;
  float: right;
  background-color: #fdfdfd;
  padding: 80px;
}

.inner-container h1{
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.text{
  font-size: 13px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 20px 20px;
  overflow: hidden;
}
.section-title{
  text-align: center;
  color: rgb(19, 233, 65);
  font-family:"Times New Roman"; 
  text-transform: uppercase;
  font-size: 30px;
}
.border{
  width: 160px;
  height: 2px;
  background: #18ee18;
  margin: 40px auto;
}
.services-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-box{
  max-width: 33.33%;
  padding: 10px;
  text-align: center;
  color: rgb(27, 25, 25);
  font-family:"Times New Roman"; 
  cursor: pointer;
}

.service-icon{
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid #dd8299;
  color: #41df19;
  transform: rotate(45deg);
  margin-bottom: 30px;
  margin-top: 16px;
  transition: 0.3s linear;
}
.service-icon i{
  line-height: 70px;
  transform: rotate(-45deg);
  font-size: 30px;
  color: blue;
}
.service-box:hover .service-icon{
  background: #82ccdd;
  color: green;
}
.service-title{
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.service-desc{
  font-size: 14px;
}

.specialisation{
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
}

::-webkit-scrollbar{
  width: 12px;
 }

::-webkit-scrollbar-track {
 border-radius: 6px;
 background-color: white; 
}

::-webkit-scrollbar-thumb { 
 background:  #f30f2d; 
 border-radius: 6px; 
}

::-webkit-scrollbar-thumb:hover { 
 background: #03f718; 
}

@media screen and (max-width:960px) {
  .service-box{
    max-width: 45%;
  }
}

@media screen and (max-width:768px) {
  .service-box{
    max-width: 50%;
  }
}

@media screen and (max-width:480px) {
  .service-box{
    max-width: 100%;
  }
}

@media screen and (max-width:1200px){
  .inner-container{
      padding: 80px;
  }
}

@media screen and (max-width:1000px){
  .about-section{
      background-size: 100%;
      padding: 100px 40px;
  }
  .inner-container{
      width: 100%;
  }
}

@media screen and (max-width:600px){
  .about-section{
      padding: 20px;
  }
  .inner-container{
      padding: 60px;
  }
} 

@media (max-width: 920px) {
  nav {
    position: fixed;
    top: 0;
    z-index: 1;
  }
  nav .logo{
    align-items: center;
    font-size: 30px;
  }
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    /* background: #111; */
    background: linear-gradient(315deg, #6617cb 0%, #882463 74%);
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    color: cyan;
    box-shadow: none;
  }
}
